.container {
  width: 100%;
  background-color: white;
}
.filter {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.filter select {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, #a7cfff83, #ffffff);
  border: 2px solid #0e72ed8c;
}

.all_posts {
  width: 80%;
  margin: auto;
  display: grid;
  /* define the number of grid columns */
  gap: 35px;
  grid-template-columns: repeat(2, 1fr);
}
