.container{
    width: 100%;
    background-color: white;
}
.filter{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.filter select{
    padding: 10px;
}

.all_posts {
    width: 80%;
    margin: auto;
    display: grid;
    /* define the number of grid columns */
    gap: 35px;
    grid-template-columns: repeat(2, 1fr);
}