.post{
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.post:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userinfo{
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    gap: 10px;
}

.avatar{
    width: 50px;
    height: 50px;
    background-color: teal;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 30px;
    color: white;
}

.description img{
width: 100%;
height: 220px;
/* margin: 2px; */
}

.userName h2{
margin: 0px 10px ;
margin-bottom: 0px;
}

.userName p{
    margin: 0px 10px;
    color: green;
}

.live{
    margin: 10px;
    margin-left: 50px;
}
.live h4 span {
    color: red;
}

.description {
    margin: 10px;
}

.description h1{
    font-size: 18px;
}

.description h3{
    font-size: 18px;
    margin-top: 5px;
}
.description p{
    margin: 10px 0px;
    
    height: 70px;
    overflow: hidden
}

.description h3 span{
    color: gray;
}

.button {
    width: 100%;
}