.navbar {
    position: absolute;
    top: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    
}

.navMain {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar *, .navOther * {
    cursor: pointer;
}
.navOther { 
    display: flex;
    gap: 30px;
}